/*
INPUT SIZES
Sizes for input, buttons.
*/

$styles-input-sizes: (
  sm: 24px,
  md: 32px,
  default: 32px,
  lg: 40px,
  xl: 60px
);

/*
SPACES
Used for spacing values in margin, padding etc.
*/
$styles-spaces: (
  0: 0px,
  xs: 8px,
  sm: 16px,
  md: 24px,
  lg: 32px,
  xl: 40px,
  xxl: 90px,
  auto: auto
);
