.articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: var(--space--xl);

  &--list {
  }
}

.article {
  &__media {
    position: relative;
    label {
      position: absolute;
      left: 0;
      bottom: 0;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }

  &__photo {
    position: relative;
    padding-bottom: (2/3) * 100%;
    img {
      @include position(absolute, 0, auto, auto, 0);
      width: 100%;
    }
  }

  &__title {
    font-weight: var(--font-weight--medium);
    color: var(--color--grey--darkest);
    margin-bottom: var(--space--xs);
  }

  &__meta {
    font-size: 13px;
  }

  &__author {
    text-decoration: none;
    color: var(--color--grey--darker);
  }

  &__date {
    color: var(--color--grey--dark);
  }

  &__excerpt {
    margin-top: var(--space--md);
    color: var(--color--grey--dark);
    font-size: 14px;
  }
}
