.hero {
  .blocks {
    align-items: center;
  }

  &__content {
    p {
      font-size: 18px;
    }
  }
  &__vector {
    img {
      width: 100%;
    }
  }
}

.subscribe {
  .field {
    box-shadow: 10px 8px 20px 0 rgba(0, 0, 0, 0.1);
    &__block,
    &__before,
    &__after {
      border: none;
      background: transparent;
      padding: 0;
    }

    .button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.tip {
  align-items: center;
  background-color: var(--color--grey--lightest);
  border-radius: 100px;
  position: relative;

  &:before {
    content: "";
    width: 0px;
    height: 0px;
    border: 10px solid transparent;
    border-bottom-color: var(--color--grey--lightest);
    @include position(absolute, -20px, 0, auto, 0);
    margin: auto;
  }
  &__photo {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    overflow: hidden;
    flex: 0 0 auto;
  }
}
