.navigation {
  border-bottom: 2px solid var(--color--grey--lightest);
  height: 60px;

  &__wrap {
    display: flex;
  }
}

.nav {
  display: flex;
  @include ul--reset;
  margin-left: auto;
  > li {
    > a {
      color: var(--color--grey--dark);
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 2px;
      height: 60px;
      display: flex;
      align-items: center;
      position: relative;
      font-size: 14px;
      &:hover {
        color: var(--color--primary);
      }
      &.active {
        color: var(--color--primary);
        &:after {
          content: "";
          @include position(absolute, auto);
          height: 3px;
          background-color: var(--color--primary);
        }
      }
    }
  }
}
