mixin article(bem,config)
  article(class=helpers.block('article',bem))
    .article__media
      .article__photo
        img(src="https://picsum.photos/300/200")
      label.button.is-secondary.is-rectangle Finance

    h4.article__title How I got 103 blog ideas in 30 mins. Here’s how to do it 

    .article__meta.gx--xl
      a.article__author(href="#") Robert Downey Jr.
      span.article__date June 21, 2019

    p.article__excerpt I have been using Rankz for the last four months and the experience has been overwhelming. I finally have accurate ratings for all my KW. Support is also really great here.