.hero.mt--xxl
  .box
    .hero__wrap
      .blocks
        .block.is-7
          
          //HERO CONTENT
          .hero__content
            h1.h2.m--0.is-grey.is-darkest Conversion Rate Optimization Blog
            p.is-grey.is-dark We help you get better at SEO and marketing: detailed tutorials, case studies and opinion pieces from marketing practitioners and industry experts alike.

          //SUBSCRIPTION BOX
          .subscribe
            .field.is-xl
              .field__group
                .field__before 
                  img(src="../img/email.svg")
                input.field__block(type="email" placeholder="Email Address")
                .field__after
                  button.button.is-xl.is-primary Submit

          //MESSAGE
          .tip.gx--sm.p--sm.mt--sm
            .tip__photo
              img(src="../img/tipman.png")
            p.m--0.is-grey.is-darker.pr--sm The same tips we used to get from 0- 572k organic traffic within 6 months

        .block.is-5
          .hero__vector
            img(src="../img/home-vector.png")