html
  head
    title Website
    link(href='https://fonts.googleapis.com/css?family=Poppins:500,600,700&display=swap' rel='stylesheet')
    block scripts
  body
    include ../components/header
    include ../components/navigation
    block content
